body {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

  background-image: url("/public/images/bg.jpg"); /* ✅ correct path for public/ in React */

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea[data-fabric="textarea"] {
  position: fixed !important;
}
